@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Shared Styles */

.display-flex{
  display: flex;
}

/* Header Area Styles */
.header-container{
  background-color: rgba(255, 144, 14, 0.1);
}

.menu-bar{
  max-width: 90vw;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  /* margin: 0 150px 20px 150px; */
}

.nav-header{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(19, 19, 19);
}

.nav-list{
  margin-right: 1.8rem;
}

.menu-list{
  font-size: 1.2em;
  color: rgb(66, 66, 66);
}

/* Banner Area Styles */
.banner{
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.banner-content{
  margin-bottom: 4rem;
  margin-top: 5rem;
}

.banner-title{
  font-size: 3rem;
  font-weight: bold;
  color: rgb(19, 19, 19);
}

.banner-description{
  font-size: 1rem;
  color: rgb(114, 114, 114);
  margin: 1.8rem 0;
}

.banner-img{
  width: 90vw;
}
.btn-primary{
  padding: 1.25rem 1.5rem;
  background-color: rgb(255, 144, 14);
  border: none;
  border-radius: .5rem;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* Quick Features Style */
.quick-features{
  max-width: 85vw;
  margin: 4rem auto;
}
.team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.quick-feature{
  max-width: 40vw;
  margin-left: 3.2rem;
  justify-content: center;
  align-items: center;
}

.quick-feature-title{
  font-size: 2.2rem;
  font-weight: bold;
  color: rgb(19, 19, 19);
}

.quick-title-part1{
  color: rgb(114, 114, 114);
}
.quick-title-part3{
  color: rgb(255, 144, 14);
}

.quick-feature-description{
  color: rgb(114, 114, 114);
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

/* Main Features Area Style */
.features{
  width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.features-area{
  padding: 2rem;
}

.feature-area-title{
  margin-bottom: 1.5rem;
  padding-left: 1.25rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(19, 19, 19);
  border-left: 5px solid rgb(255, 144, 14);
}

.feature-area-description{
  font-size: 1rem;
  font-weight: 400;
  color: rgb(114, 114, 114);
}

.feature-list{
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0px 4px 30px 0px rgba(150, 139, 139, 0.25);
  border-radius: .5rem;
}

.feature-list-title{
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(19, 19, 19);
  margin-bottom: .6rem;
}

.feature-list-description{
  font-size: 1rem;
  font-weight: 400;
  color: rgb(114, 114, 114);
}
.feature-img{
  width: 100%;
  border-radius: .5rem;
}

.feature-btn{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: bold;
  margin-top: -6rem;
  margin-left: -3.5rem;
}

.btn-experience{
  font-size: 1.5rem;
  font-weight: 400;
}