@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Shared Styles */

.display-flex{
  display: flex;
}

/* Header Area Styles */
.header-container{
  background-color: rgba(255, 144, 14, 0.1);
  margin-bottom: 70px;
}

.menu-bar{
  max-width: 1180px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* margin: 0 150px 20px 150px; */
}

.nav-header{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(19, 19, 19);
}

.nav-list{
  margin-right: 25px;
}

.menu-list{
  font-size: 1.2em;
  color: rgb(66, 66, 66);
}

/* Banner Area Styles */
.banner{
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
}

.banner-content{
  margin-bottom: 70px;
  margin-top: 100px;
}

.banner-title{
  font-size: 3rem;
  font-weight: bold;
  color: rgb(19, 19, 19);
}

.banner-description{
  font-size: 1rem;
  color: rgb(114, 114, 114);
  margin: 30px 0;
}
.banner-img{
  max-width: 100%;
  /* margin: 0 auto; */
}

.btn-primary{
  padding: 20px 24px;
  background-color: rgb(255, 144, 14);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* Quick Features Style */
.quick-features{
  max-width: 1180px;
  margin: 0 auto;
}
.team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.quick-feature{
  max-width: 430px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
}

.quick-feature-title{
  font-size: 35px;
  font-weight: bold;
  color: rgb(19, 19, 19);
}

.quick-title-part1{
  color: rgb(114, 114, 114);
}
.quick-title-part3{
  color: rgb(255, 144, 14);
}

.quick-feature-description{
  color: rgb(114, 114, 114);
  margin: 25px 0;
  font-size: 1rem;
  font-weight: 400;
}